body
    html
        link(rel="stylesheet", href="/css/style.css")
block content
    main.container
        h1  Faite vos jeux !!
        ul.items
            for items in item
                li
                a(href='/play/' + items.id, alt)
                    img(src='/img/' + items.image)