block content
    main.container

    p User : #{userChoiceItem.name}
    p Computer : #{computerChoiceItem.name}

    if winner === 'user'

        p You win

    else if winner === 'computer'

        p You loose